.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  font-size: 30px;
}

#main-weather {
  font-size: 15px;
}

body {
  background-image: url("../images/white_wave/white_wave.png");
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
}
